@import "variables.less";
#tagsdiv-definitions_title {
  display:none;
}
.rspdef-disabled {
  opacity:0.3;
}
.rspdef-field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  .rspdef-save-changes {
    color:red;
    font-size:12px;
    display:none;
  }
  input[type='checkbox'] {
    margin: 0;
  }
  .rspdef-icon-bullet {
    margin-right:10px;
  }
  .rspdef-icon-bullet-red {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: @rsp-red;
  }

  .rspdef-icon-bullet-orange {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: @rsp-orange;
  }

  .rspdef-icon-bullet-green {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: @rsp-green;
  }

  .rspdef-icon-bullet-invisible {
    height: 15px;
    width: 15px;
    border-radius: 10px;
  }

  input:disabled+label {
    color: @color-disabled;
  }

}

h3 {
  margin: 1em 0 0.5em 0;
}

.rspdef-post-definition-list {
  margin-bottom: 0;
}

.rspdef-comment {
  width: 80%;
}

