a{
  &.wpdef-definition{
    border-bottom: 1px dotted #ba0000;
    &:hover{
      text-decoration: none;
    }
  }
}

// hover state of anything with a data-hover attribute
*[data-hover] {
  &:hover {

    position:relative; // remove this if position is already set

    // tooltip text
    &:after {
      background:#fff;
      border-radius:4px;
      color:rgba(0,0,0,1);
      content:attr(data-hover); // value of data-hover attribute
      display: block;
      font-size:.875em;
      line-height: 1.25em;
      padding:15px 20px;
      left:0px;
      position:absolute;
      bottom:35px;
    @include transform(translate(-50%, -1em));
      white-space: nowrap;
      max-width:250px;
    }

    // tooltip arrow
    &:before {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;

      content:"";
      display: block;
      font-size:.75em;
      left:40%;
      position:absolute;
      bottom:25px;
    @include transform(translate(-50%, -1em));
    }
  }
}

dfn {
  position: relative;
  display: inline-block;
  cursor: help;
}
dfn:before {
  content: attr(title);
}
dfn > .wpdef-preview-content {
  display: none;
}
dfn:hover > .wpdef-preview-content {
  font-size: 2rem;
  font-style:normal;
  line-height: 2.5rem;
  text-align: start;

  display: block;
  position: absolute;
  top: calc(1em + 10px);
  z-index:100;

  width: 16em;
  padding: .5em;
  background-color:white;
  border: none;
}
.wpdef-preview-content img {
  max-width: 16em;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

